:root {
    --primary: #1A2E6C;
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --inverse: #292b2c;
    --default: #f7f7f7;
}

body,html {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

nav{
    height: 50px;
    background-color:var(--primary);
    display: flex;
    align-items: center;
    justify-content: center

}

.div-menu {
    width: 40%;
    display: flex;
    
    align-items: center;
}

.div-menu p a {
    color: #FFFFFF;
    text-decoration: none;
}
section {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
   
}
#section-header {
    text-align: center;
}

.div-bg img {
    width: 100%;
}

.div-pic img {
    width: 20%;
    align-items: center;
}

button {
    background-color: rgb(44, 165, 44);
    color: #FFFFFF;
    padding: 10px 10px;
    border-radius: 5px;
}