nav {
    background-color: #031D44;
    align-content: center;
    justify-content: center;
}

Header {
    display: flex;
    width: 35%;
    margin: 0 60%;
    justify-content: space-between;
}

header p a{
    color: #bd8f13;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    display: block;
}

/* Next Section */

main {
    background-color: #a9ccf9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 175px 0px 175px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
    margin-bottom: 60px;
}

.button {
    display: inline-block;
    background-color: #bd8f13;
    color: #031D44;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 5px;
}

/* main .hero-image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;

} */


/* Next Section */

#About {
    background-color: rgb(241, 226, 196);
    font-family: Sans-serif;
    height: 100%;
    padding: 5px 50px 20px 50px;

}

#About h1 {
    color: #bd8f13;
    font-size: 50px;
}

#About .About-Part-1 {
    display: flex;
    padding: 0px 200px 30px 0px;
}

#About .About-Part-1 p {
    color: #031D44;
    font-size: 22px;
    padding: 25px 100px 0px 0px;
}

#About .About-Part-1 .about-image1 {
    border-radius: 50%;
    width: 20px;
    height: 10px;
    /* padding: 0px 0px 0px 0px; */
}

/* About section part 2 */

#About-p2 {
    display: flex;
    /* justify-content: space-evenly; */
}

/* .About-Part-2 {
    /* display: flex; */
    /* padding: 75px 0px 0px 300px; */
/* }  */

.about-image2 {
    justify-content: left;
    /* border-radius: 50%;
    width: 20px;
    height: 10px; */
    padding: 80px 0px 50px 0px;
}

#About .About-Part-2 p {
    color: #031D44;
    justify-content: right;
    font-size: 22px;
    padding: 100px 0px 0px 100px;
}



/* I need to recheck this part */
/* .about-image2 {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0px 50px 10px 50px;
    object-fit: cover; */


/* Next Section */

#Services {
    background-color: rgb(198, 226, 248);
    font-family: Sans-serif;
    height: 100%;
    padding: 20px 50px 50px 50px;
}

#Services h2 {
    color: #bd8f13;
    font-size: 50px;
}

#services-images{
    display: flex;
    justify-content: space-around;
    /* align-self: center;
    align-items: center; */
    align-content: space-around;
    /* padding: 0px 250px 20px 20px; */
}

.services-list {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 0px 0px;
}

/* I need to edit this part to make it center of the text.
.services h3 { 
    /* justify-self: center; */
/* } */ */

.services-list p {
    padding: 0px 30px 0px 0px;
    justify-content: space-around;
    align-content: space-around;
}


/* Next Section */

#Portfolio {
    background-color: rgb(231, 226, 192);
    font-family: Sans-serif;
    height: 100%;
    padding: 20px 50px 50px 50px;
}

#Portfolio h2 {
    color: #031D44;
    font-size: 50px;
}

#Portfolio-images {
    display:flex;
    justify-content: space-around;
}

.Portfolio-List-1 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 0px 0px 0px 0px;
}

#Portfolio-images2 {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 0px 0px;
}

.Portfolio-List-2 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    /* padding: 250px 10px 0px 10px; */
}

/* Next Section */

#Contact {
    background-color: #a9ccf9;
    height:100%;
    font-family: Sans-serif;
    padding: 20px 0px 0px 50px;
    /* display: flex; */
}

#Contact h2 {
    font-size: 50px;
    color: #94750f;
}

#Contact h3 {
    font-size:30px;
    color: #031D44;
}

#Social-Media-Icons {
    width:40%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 50px;
    width: 50px;
    padding: 50px 500px 50px 0px;
    
}



#email {
    justify-content: right;
    background-color: #031D44;
    height: 550px;
    width: 450px;
    border-radius: 10%;
    padding: 20px 50px 50px 50px;
    margin-left: 52%;
    margin-top: -95px;
}

.email-info {
    color: aliceblue;
    font-size: 28px;
    padding: 10px 0px 0px 10px;
}

.email-info {
    color: aliceblue;
    font-size: 28px;
    padding: 10px 0px 0px 10px;
}
/* Next Section */

footer {
    background-color: #021d3f;
    height: 100%;
    font-family: Sans-serif;
    padding: 5px 0px 5px 400px;
    font-size: 30px;
    color: #9e9620;

}
