nav {
    background-color: #031D44;
    align-content: center;
    justify-content: center;
}

Header {
    display: flex;
    width: 35%;
    margin: 0 60%;
    justify-content: space-between;
}

header p a{
    color: #bd8f13;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    display: block;
}

.hover-nav {
    color:#bd8f13;
    transition: color 0.3 s ease;
}

.hover-nav:hover {
    color: #a9ccf9;
}

/* Next Section */

main {
    background-color: #a9ccf9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 175px 0px 175px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

main p {
    font-size: 16px;
    margin-bottom: 60px;
}

.button {
    display: inline-block;
    background-color: #bd8f13;
    color: #031D44;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 5px;
}

/* Next Section */

#About {
    background-color: rgb(241, 226, 196);
    font-family: Sans-serif;
    height: 100%;
    padding: 5px 50px 20px 50px;
}

#About h1 {
    color: #bd8f13;
    font-size: 50px;
}

#About .About-Part-1 {
    display: flex;
    padding: 0px 200px 30px 0px;
}

#About .About-Part-1 p {
    color: #031D44;
    font-size: 22px;
    padding: 25px 100px 0px 0px;
}

#About .About-Part-1 .about-image1 {
    border-radius: 50%;
    width: 20px;
    height: 10px;
    
}

/* About section part 2 */

#About-p2 {
    display: flex;
    
}

.about-image2 {
    justify-content: left;
    padding: 80px 0px 50px 0px;
}

#About .About-Part-2 p {
    color: #031D44;
    justify-content: right;
    font-size: 22px;
    padding: 100px 0px 0px 100px;
}

/* Next Section */

#Services {
    background-color: rgb(198, 226, 248);
    font-family: Sans-serif;
    height: 100%;
    padding: 20px 50px 50px 50px;
}

#Services h2 {
    color: #bd8f13;
    font-size: 50px;
}

.services-blocks {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.services-list {
    margin-bottom: 30px;
    text-align: center;
}

.services-list img {
    width: 200px;
    height:auto;
    border-radius: 50px;
    margin-bottom: 20px;
}

.services-list h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #020c2e;
}

.services-list p {
    font-size: 16px;
    line-height: 1.5;
    color: #3a3a3a;
}

.services-list p {
    padding: 0px 50px 0px 50px;
    justify-content: space-around;
    align-content: space-around;
}

/* Next Section */

#Portfolio {
    background-color: rgb(231, 226, 192);
    font-family: Sans-serif;
    height: 100%;
    padding: 20px 50px 50px 50px;
}

#Portfolio h2 {
    color: #031D44;
    font-size: 50px;
}

#Portfolio-images {
    display:flex;
    justify-content: space-around;
}

.Portfolio-List-1 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 0px 0px 0px 0px;
}

#Portfolio-images2 {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 0px 0px;
}

.Portfolio-List-2 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

/* Next Section */

#Contact {
    background-color: #a9ccf9;
    height:100%;
    font-family: Sans-serif;
    padding: 10px 0px 50px 50px;
}

#Contact h2 {
    font-size: 50px;
    color: #94750f;
}

#Contact h3 {
    font-size:30px;
    color: #031D44;
}

#Social-Media-Icons a {
    width:20%;
    height: 90px;
    display: flex;
    /* list-style: none; */
    justify-content: space-between;
    /* align-items: left; */       
}

/* #Social-Media-Icons a img {
    display: flex;
} */

/* Contact Part 2 */

#email {
    /* justify-content: right; */
    background-color: #031D44;
    height: 600px;
    width: 400px;
    border-radius: 5%;
    padding: 25px 50px 50px 50px;
    margin-left: 70%;
    margin-right: auto;
    /* margin-top: -95px; */
   
}

.email-info {
    padding: 10px 0px 0px 10px;
}

.email-info h4 {
    color: #ca9c02;
    font-size: 28px;
}

.email-info p {
    color: aliceblue;
    font-size: 22px;
    margin: 35px 0px 5px 0px;
}

input[type="Name"],[type="Email"] {
    width: 350px; 
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
}

textarea {
    font-size: 19px;
    color: #575757;
    font-family: sans-serif;
    width: 350px;
    height: 150px;
    margin-bottom: 40px;
}

input[type="Submit"] {
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: #ca9c02;
    border-radius: 5px;
}

/* Next Section */

footer {
    background-color: #021d3f;
    height: 100%;
    font-family: Sans-serif;
    padding: 5px 0px 5px 40px;
    font-size: 30px;
    color: #9e9620;

}
