body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION SECTION */

.navbar {
    background-color: #031D44;
}

.nav-logo {
    width: 50px;
    position: center;
    justify-content: center;
    padding: 20px 0% 0px 43%;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
}

.hover-nav {
    text-decoration: none;
    color: #bd8f13;
    transition: color 0.3 s ease;
}

.hover-nav:hover {
    color: #a9ccf9;
}

/* Tablet View Navigation */

@media only screen and (min-width:768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo {
        width: 60px;
        padding: 10px 0px 10px 30px;
    }

    .header-nav {
        font-size: 18px;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        margin: 0px 0px 0px 0px;
        }

}    

/* Desktop View Header */

@media only screen and (min-width:1000px) {
    .header-nav {
        font-size: 20px;
        width: 40%;
    }
}

/* HERO SECTION */

main {
    margin-top: 5px;
    background-image: url("../images/home-bg-2.png");
    background-repeat: none;
}

.hero-content {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: whitesmoke;
}

.hero-content p {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 20px;
    color: whitesmoke;

}

.button {
    /* display: inline-block; */
    background-color: #bd8f13;
    color: #031D44;
    font-size: 12px;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.hero-image img {
    width: 100px;
    padding: 10px 0% 50px 40%;
}

/* Tablet View Hero Section*/

@media only screen and (min-width:768px) {
    main {
        height:400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }

    .hero-content {
        padding: 0px 0px 0px 30px;
        font-size: 24px;
        text-align: none;
    }
    
    .hero-content p {
        font-size: 16px;
        margin-top: -20px;
    }

    .hero-image img {
        width: 170px;
        padding: 20px 10px 20px 10px;
    }
}

/* Desktop View HERO SECTION */

@media only screen and (min-width:1000px) {
    main{
        padding: 100px 0px 100px 0px;
    }
    .hero-content {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 20px;
        margin-top: -20px;
        margin-bottom: 50px;
    }

    .button {
        font-size: 16px;
        padding: 10px 20px;
        /* margin-top: 550px; */
    }

    .hero-image img {
        width: 200px;
        padding: 20px 10px 20px 10px;
    }
}

/* ABOUT SECTION */

.wrapper-about {
    width: 100%;
    margin-top: -20px ;
    padding-bottom: 20px;
    background-color: rgb(228, 230, 241);
}

.img-about-info h1 {
    color: #bd8f13;
    font-size: 28px;
    padding: 20px 20px 10px;
    line-height: 32px;
}

.img-about-info p {
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    line-height: 20px;
}

.img-about-1 {
    display: flex;
    width: 40%;
    margin: 0 auto;
    box-shadow: 3px 3px gray;
    border: 2px solid gray;
}

.about-space {
    padding-bottom: 20px;
}


/* Tablet View About Part 1*/

@media only screen and (min-width:768px) {
    .wrapper-about {
        width:100%;
        height: 100%;
        margin-top: -30px;
        padding-bottom: 10px;
        /* margin: 0 auto; */
    }

    .img-about-info h1 {
        font-size: 38px;
        padding: 20px 0px 0px 20px;
    }
    
    .img-about-info p {
        font-size: 20px;
        padding: 0px 20px 0px 20px;
    }    

    .img-about-1 {
        width: 50%; 
        margin: 0 auto;
        box-shadow: 3px 3px rgb(100, 50, 50);
        border: 2px solid rgb(100, 50, 50);
    }
}

/* Desktop View About Part 1*/

@media only screen and (min-width:1000px) {
    .wrapper-about {
        display: flex;
        width:100%;
    }

    .img-about-info h1 {
        font-size: 48px;
        padding: 10px 0px 0px 30px;
    }

    .img-about-info p {
        width: 70%;
        float: left;
        font-size: 21px;
        line-height: 24px;
        padding: 0px 0px 0px 30px;
    }

    .img-about-1 {
        width: 20%;
        float: right;
        margin: 0px 50px 0px 0px;
        box-shadow: 3px 3px rgb(4, 12, 126);
        border: 2px solid rgb(28, 3, 139);
    }
}

/* About Section Part 2 */

.wrapper-about-2 {
    width: 100%;
    background-color: rgb(228, 230, 241);
}

.img-about-info-2 {
    width: 100%;
}

.img-about-info-2 p {
    margin-top: -10px;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    line-height: 20px;
}

.img-about-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 3px 3px gray;
    border: 2px solid gray;

}

/* Tablet View About Part 2*/

@media only screen and (min-width:768px) {
    .wrapper-about-2 {
        /* width: 700px; */
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .img-about-info-2 p {
        font-size: 20px;
        padding: 20px 20px 20px 20px;
    }

    .img-about-2 {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 3px 3px rgb(100, 50, 50);
        border: 2px solid rgb(100, 50, 50);
    }
}

/* Desktop View About Part 2*/

@media only screen and (min-width:1000px) {
    .wrapper-about-2 {
        display: flex;
        width: 100%;
    }

    .img-about-info-2 p {
        width: 70%;
        float: right;
        font-size: 21px;
        line-height: 24px;
        padding: 20px 40px 20px 0px;
    }

    .img-about-2 {
        width: 20%;
        float: left;
        margin: 0px 0px 20px 30px;
        box-shadow: 3px 3px rgb(4, 12, 126);
        border: 2px solid rgb(28, 3, 139);
    }
}

/* SERVICES SECTION */

#Services {
    width: 100%;
    margin-top: -30px;
    background-color: rgb(198, 226, 248);
}

#Services h1{
    color: #bd8f13;
    font-size: 28px;
    padding: 20px 20px 0px 20px;
    /* line-height: 32px; */
}

.img-services {
    display: flex;
    width: 30%;
    margin: 0 auto;
}

.services-list {
    padding-bottom: 30px;
}

.services-list h3 {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.services-list p {
    font-size: 18px;
    display: flex;
    padding: 0px 30px 0px 30px;
}

/* Tablet View Services */

@media only screen and (min-width:768px) {
    #Services {
        width: 100%;
        margin-top: -35px;
    }

    #Services h1 {
        font-size: 40px;
        padding: 25px 0px 0px 20px;
    }

    .services-list h3 {
        font-size: 36px;
        }

    .services-list p {
        font-size: 22px;
        padding: 0px 50px 70px 50px;
    }
}

/* Desktop View Services */

@media only screen and (min-width:1000px) {
    #Services {
        /* display: flex; */
        width: 100%;
        margin-top: 0px;
        padding-top: 5px;
    }

    #Services h1 {
        font-size: 50px;
        padding: 0px 0px 0px 40px;
    }

   .services-blocks {
        display: flex;
        justify-content: space-between;
        align-content: center;
   }

    .services-list img {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    .services-list h3 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #020c2e;
    }
    
    .services-list p {
        font-size: 16px;
        line-height: 1.5;
        color: #3a3a3a;
        /* padding: 0px 50px 0px 50px; */
        justify-content: space-around;
        align-content: space-around;
    }

}

/* PORTFOLIO SECTION */

#Portfolio {
    background-color: rgb(255, 255, 255);
    height: 100%;
}

#Portfolio h2 {
    color: #031D44;
    font-size: 28px;
    padding: 10px 0px 0px 20px;
}

.Portfolio-pic {
    width: 70%;
    margin: 0 auto;
    display: flex;
    box-shadow: 3px 3px rgb(100, 50, 50);
    border: 2px solid rgb(100, 50, 50);
}

.Portfolio-List-1 {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    color: #031D44;
    font-size: 20px;
    padding-bottom: 30px;
}

/* Tablet View Portfolio Section */

@media only screen and (min-width:768px) {
    #Portfolio h2 {
        font-size: 40px;
    }
    
    #Portfolio-images {
        width: 700px;
        margin: 0 auto;
    }

    .Portfolio-List-1 {
        background-color: #e7ecf1;
        height: 5px;
        width: 71%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        padding-top: 10px;
        color: #020c2e;
        /* padding-bottom: 20px; */
    }

    #Portfolio-images2 {
        width: 700px;
        margin: 0 auto;
    }
}

/* Desktop View Portfolio Section */

@media only screen and (min-width:1000px) {
    #Portfolio h2 {
        font-size: 50px;
        padding: 0px 0px 0px 40px;
    }

    .portfolio-block {
        display: block;
        padding: 50px; 
    }

    #Portfolio-images {
        display: flex;
        margin-top: -50px;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    #Portfolio-images img:hover {
        border: 7px solid #0c2147;
    }

    .Portfolio-pic {
        display: flex;
        width: 350px;
        /* width:250%; */
        box-shadow: none;
        border: 5px solid;
        border-color: #a57c22;
        border-radius: 3%;
    }

    .Portfolio-List-1 {
        background: none;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
    }

    .portfolio-block-2 {
        display: block;
        padding: 50px;
    }
    
    #Portfolio-images2 {
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        padding: 0px 0px 0px 0px;
        margin-top: -70px;
    }

    #Portfolio-images2 img:hover {
        border: 7px solid #0c2147;
    }
}

/* CONTACT SECTION */

#Contact {
    background-color: rgb(198, 226, 248);
    height: 100%;
}

#Contact h2 {
    color: #bd8f13;
    font-size: 28px;
    padding: 20px 20px 0px 20px;
}

#Contact h3 {
    color: #0c2147;
    font-size: 24px;
    padding: 20px 20px 0px 20px;
}

#Social-Media-Icons {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.contact-icon {
    height: 52px;
}

#email {
    background-color: #031D44;
    height: 490px;
    width: 350px;
    border-radius: 5%;
    margin: 0 auto;
}

.email-info {
    margin-top: 20px;
    padding: 10px 10px 10px 20px;
}

.email-info h4 {
    color: #BD8F13;
    font-size: 22px;
}

.email-info p {
    color: aliceblue;
    font-size: 18px;
    margin: 35px 0px 5px 0px;
}

input[type="Name"], [type="Email"], [type="Message"] {
    width: 300px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
}

[type="Message"] {
    height: 70px;
}

input[type="Submit"] {
    width: 100px;
    height: 35px;
    font-size: 18px;
    background-color: #BD8F13;
    border-radius: 5px;
    margin-top: 15px;
}

.contact-space {
    padding-bottom: 20px;
}

/* Tablet View Contact */

@media only screen and (min-width:768px) {
    #Contact h2 {
        font-size: 36px;
    }

    #Contact h3 {
        color: #0c2147;
        font-size: 30px;
    }
}

/* Desktop View Contact */

@media only screen and (min-width:1000px) {
    #Contact h2 {
        font-size: 50px;
        padding: 20px 20px 20px 30px;
    }

    #Contact h3 {
        color: #0c2147;
        font-size: 32px;
        padding: 0px 0px 0px 30px;
    }

    #Social-Media-Icons {
        width: 30%;
        display: flex;
    }    

    #email {
        height: 600px;
        width: 350px;
        padding: 20px 60px 30px 20px;
        margin-right:10%; 
        margin-top: -200px;
    }

    .email-info p {
        color: aliceblue;
        font-size: 22px;
        /* margin: 35px 0px 5px 0px; */
    }

    .email-info h4 {
        color: #BD8F13;
        font-size: 28px;
    }


    input[type="Name"], [type="Email"], [type="Message"] {
        width: 350px;
        height: 35px;
        font-size: 18px;
        border-radius: 5px;
    }
    
    [type="Message"] {
        height: 105px;
        margin-bottom: 20px;
    }
    
    [type="Submit"] {
        width: 100px;
        height: 35px;
        font-size: 18px;
        background-color: #BD8F13;
        border-radius: 5px;
        /* padding-top: 20px; */
        /* margin-top: 25px; */
    }

}

/* FOOTER SECTION */

footer {
    background-color: #021d3f;
    font-size: 18px;
    color: #BD8F13;
    padding: 10px 0px 10px 0px;
}

.footer-name {
    margin: 0 auto;
    text-align: center;
}

.footer-nav {
    background-color: #021d3f;
    font-size: 16px;
    color: #BD8F13;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    text-align: center;
    transition: color 0.3 s ease;
}

.footer-nav:hover {
    color: #a9ccf9;
}

/* Tablet View Footer */

@media only screen and (min-width:768px) {
    footer {
        display: flex;
        align-items: center;
    }
    
    .footer-name {
        font-size: 20px;
        text-align: left;
        align-items: center;
        width:70%;
        margin: 0px 0px 0px 30px;
    }

    .footer-nav {
        font-size: 18px;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
    }
}

/* Desktop View Footer */

@media only screen and (min-width:1000px) {
    .footer-nav {
        font-size: 20px;
        width: 50%;
    }
}