:root {
    --primary: #13213C !important;
    --secondary: #00629F !important;
    --secondary-2: #031D44 !important;
    --secondary-3: #7298D4 !important;
    --light: #F7F7F7 !important;
    --light-2: #F8F8F8 !;
    --dark: #0F1626 !important;
    --warning: #FFC107 !important;
    --warning-2:#FAA21A !important;
    --success: #E8E1A4 !important;
    --success-2: #f6f3d5 !important;
    --danger: #CF4E08 !important;
    --buttonborders: #A6A6A6 !important;
    --buttonbackground-color: #D9D9D9 !important;
}

body, html {
    margin: 0;
    padding:0;
}

/* ABOUT SECTION */
.about-scn {
    margin-top: 120px;
    /* margin-bottom: 500px; */
}

.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    /* background-color: #FFC107; */
    background: var(--warning);
    transform: skew(20deg);
    z-index: 1;
}

.btn {
    background-color: #FFC107;
}

.fa-check {
    color: #13213C !important;
}

.about-txt h1 {
    font-size: 32px;
}

.abt-list {
    color:#13213C;
    font-size: 1.2rem;
}